<div class="container">
    Enter the job Id which you want to delete
    <form method="post" action="/users/deleteJob">
        <label for="jobId">
            Job Id:
        </label>
        <input type="number" id="jobId" name="id">>
        <input type="submit" class="btn btn-primary">
    </form>
</div>