<div class="container-fluid div-1">
    <div class="row">
<div class="col-6">
    <div class="main-text">
        <div class="heading">
            Easily
        </div>
        <div class="subhead">
Finding Jobs and Internships.<br>
Get Discovered. Get Hired.
        </div>
       <div class="container">
        <div class="row">
            <div class="col">
                <a href="user/login">
                    <button class="btn-main bm-1 btn">I'm Recruiter</button>
                </a>
            </div>
            <div class="col">
                <a href="/jobs/getJobs">
                    <button class="btn-main bm-2 btn">I'm Job Seeker</button>
                </a>
            </div>
        </div>
       </div>
    </div>
</div>
<div class="col-6">
    <img src="images/main-img.png" alt="" class="main-job-img">

</div>
    </div>
</div>