<div class="container">
<form method="post" action="updateJob">
<label for="">id
    JobId:
</label>
<input type="number" id="id" name="id" placeholder="enter any number">
<label for="cat" >
    Category:
</label>
<input type="text" name="cat" id="cat">

<label for="designation">Designation:</label>
<input type="text" id="designation" name="designation">

</form>




</div>